@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('/aetherra/fonts/vixa.css');

:root {
color-scheme:dark;
/*Acentos*/
--accent1:#f06a8d;
--accent2:#df4c72;
--links1: #bbb;
--links2: #ddd;
/*Fondos opacos*/
--fondo: #141414;
/*Tamaño de fuentes*/
--fs-h0: 11rem;
--fs-h1: 5rem;
--fs-h2: 4rem;
--fs-h3: 3rem;
--fs-h4: 2rem;
--fs-h5: 1.5rem;
--fs-h6: 1.25rem;
--fs-h7: 1.1rem;
--fs-body: 1rem;
--fs-small: 0.85rem;
--fs-smaller: 0.8rem;
--fs-tiny: 0.75rem;
--fs-mini: 0.7rem;
--fs-deco: 0.65rem;
--fs-minideco: 0.6rem;
/*Familias de fuentes*/
--f-body: "Roboto", sans-serif;
--f-titles: "Playfair Display", serif;
--f-mono: "IBM Plex Mono", monospace;
--f-deco: "Vixa", serif;
/*Estilos de fuente*/
--fset-mono1: 700 var(--fs-small) var(--f-mono);
--fset-mono2: 700 var(--fs-smaller) var(--f-mono);
--fset-mono3: 700 var(--fs-tiny) var(--f-mono);
--fset-mono4: 700 var(--fs-mini) var(--f-mono);
--fset-mono5: 700 var(--fs-deco) var(--f-mono);
--fset-mono6: 700 var(--fs-minideco) var(--f-mono);
--fset-titles1: var(--fs-h4) var(--f-titles);
--fset-titles2: var(--fs-h5) var(--f-titles);
--fset-titles3: var(--fs-h6) var(--f-titles);
--fset-titles4: var(--fs-h7) var(--f-titles);
--fset-titles5: var(--fs-body) var(--f-titles);
--fset-titles6: var(--fs-smaller) var(--f-titles);
--fset-titles7: var(--fs-tiny) var(--f-titles);
--fset-body1: var(--fs-body) var(--f-body);
--fset-body2: var(--fs-small) var(--f-body);
--fset-body3: var(--fs-smaller) var(--f-body);
/*Text transforms*/
--tt-titles-small:uppercase;
--tt-titles-big:none;
--tt-mono:uppercase;
--tt-deco:none;
/*Colores de fuente*/
--text:#8f8f8f;
--text2: #666;
--text3: #555;
--subtitle:#ccc;
--title:#fafafa;
--subtitle-img: #ccc;
--title-img: #fafafa;
--selection-txt: black;
/*Scroll: body / resto de cajas*/
--scroll-size: wide;
--scroll-bckg: #090909;
--scroll-thumb: #222;
--scroll-radius:0;
--mini-scroll-size:1px;
--mini-scroll:rgba(255, 255, 255, 0.05);
--mini-scroll-radius:0;
--mini-scroll2-size:1rem;
--mini-scroll2-border:var(--border1);
/*Nav*/
--nav:#eee;
--nav-h:3rem;
--nav-links1:#333;
--nav-links2:#000;
/*Side*/
--side:#0a0a0a;
--side-w:clamp(10rem, 20dvw, 20rem);
/*Fondos*/
--body: #0f0f0f;
--body-img: none;
--body-blend: multiply;
--header: #777;
--header-img: url(/aetherra/images/header.jpg);
--header-blend: multiply;
--header-position: center;
--header-filter: brightness(1.3) contrast(1.1) saturate(120%);
/*Gaps y paddings*/
--margin:3rem;
--padding:2rem;
--gap:1rem;
}

html, body {
scrollbar-width:var(--scroll-size);
scrollbar-color:var(--scroll-thumb) var(--scroll-bckg);
margin: 0;
padding: 0;
min-height: 100%;
font:14px var(--f-body);
@media (prefers-reduced-motion: no-preference) {
scroll-behavior: smooth;
}
}
html:not(.loaded) {
  background:black;
  & body {
    opacity:0;
  }
}
body {
background-color: var(--body);
background-image: var(--body-img);
background-blend-mode: var(--body-blend);
background-size: cover, auto;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
color: var(--text);
padding:var(--nav-h) 0 0!important;
opacity:1;
transition:all ease 1s;
}
a {
color: var(--links1);
text-decoration: none;
&:hover {
color: var(--links2);
}
}
.flex, .flex-col, .flex-colrev, .flex-rev {
display: flex;
justify-content: center;
align-items: center;
&:is(.fas, .fad, .fab, .far, .fal) {
display:flex!important;
}
}
.flex-col {
flex-direction: column;
}
.flex-colrev {
flex-direction: column-reverse;
}
.flex-rev {
flex-direction: row-reverse;
}
.gradientact, .af a {
position: relative;
isolation: isolate;
&::before, &::after {
content: "";
position: absolute;
inset: 0;
}
&::before {
background: var(--gm-color1);
z-index: -1;
mix-blend-mode: var(--gm-effect1);
}
&::after {
background: var(--gm-color2);
z-index: -2;
mix-blend-mode: var(--gm-effect2);
}
& img {
position: relative;
z-index: -3;
filter: var(--gm-filter);
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}
&.groupact::before {
background: var(--group, var(--groupbody));
}
&.accentact::before {
background: var(--accent3);
}
&:is(.groupact, .accentact)::before {
mix-blend-mode:multiply;
filter:grayscale(.25) brightness(.75);
}
.light &:is(.groupact, .accentact)::before {
mix-blend-mode:normal;
filter:grayscale(.6);
opacity:.75;
}
&:is(.groupact, .accentact) img {
filter:contrast(.9) brightness(1);
}
.light &:is(.groupact, .accentact) img {
filter:contrast(1.5) brightness(1);
}
&.noact {
  &::before, &::after { display:none; }
  & img { filter:none; }
}
}
*:not(html,body)::-webkit-scrollbar {
width: var(--mini-scroll-size);
}
*:not(html,body)::-webkit-scrollbar-track {
background: transparent;
}
*:not(html,body)::-webkit-scrollbar-thumb {
background: var(--mini-scroll);
border-radius:var(--mini-scroll-radius);
}
*:not(html,body)::-webkit-scrollbar-corner {
display: none;
}
.bigscroll::-webkit-scrollbar {
width: var(--mini-scroll2-size);
outline:var(--mini-scroll2-border);
}
.bigscroll::-webkit-scrollbar-track {
background: transparent;
}
.bigscroll::-webkit-scrollbar-thumb {
background: var(--mini-scroll);
border-radius:var(--mini-scroll-radius);
border:calc((var(--mini-scroll2-size) / 2) - (var(--mini-scroll-size) / 2)) solid transparent;
background-clip:padding-box;
}
*::selection {
background: var(--accent1);
color: var(--selection-txt);
text-shadow:none!important;
filter:none!important;
}
em.cp, a.cp {
font-family: "cappuccicons" !important;
speak: never;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
input:is(:-internal-autofill-selected, :-webkit-autofill, :autofill) {
background-clip: text!important;
-webkit-background-clip: text!important;
-moz-background-clip: text!important;
-webkit-text-fill-color:var(--subtitle);
font-style:italic;
color:transparent;
box-shadow:inset 0 0 0 100vmax var(--dbckg0);
}
/*Tooltip*/
#s-m-t-tooltip {
display: block;
position: absolute !important;
/* basic */
max-width: 300px;
z-index: 999;
margin: 14px 14px 7px 12px;
/* style and design */
padding: 7px 10px 5px;
background: var(--opaco);
border: var(--border2);
/* font */
font-family: var(--f-mono);
font-size: var(--fs-tiny);
text-transform: var(--tt-mono);
font-weight: 700;
line-height: 1em;
color: var(--subtitle);
}

/* NAV */

nav {
  --links1:var(--nav-links1);
  --links2:var(--nav-links2);
  background:var(--nav);
  position:fixed;
  inset:0;
  bottom:unset;
  height:var(--nav-h);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 1.5rem 0 1rem;
  font:var(--fset-mono5);
  line-height:1em;
  text-transform:var(--tt-mono);
  z-index:999;
  & > a {
    font:600 var(--fs-h7) var(--f-titles);
    text-transform:var(--tt-titles-small);
    color:var(--accent2);
    transition:ease .3s;
    line-height:1em;
  }
  & > span {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:1.5em;
    & a {
      text-decoration:underline transparent;
      transition:ease .3s;
      &:hover {
        text-decoration:underline var(--accent2);
      }
    }
  }
}

/* HEADER */

header {
  background-color: var(--header);
  background-image: var(--header-img);
  background-blend-mode: var(--header-blend);
  background-size: cover;
  background-position: var(--header-position);
  background-attachment: scroll;
  background-repeat: no-repeat;
  height:clamp(20rem, 60dvh, 40rem);
  place-content:center;
  text-align:center;
  position:relative;
  isolation:isolate;
  & h1 {
    margin:0;
    color:var(--title-img);
    font: 9rem var(--f-deco);
    text-shadow: 0 0 5px black, 0 0 15px black, 0 0 35px black;
  }
  &::before {
    content:'';
    position:absolute;
    inset:0;
    z-index:-1;
    backdrop-filter:var(--header-filter);
  }
}

/* MAIN */

main {
  width: clamp(20rem, 70dvw, 120rem);
  margin: calc(var(--margin) * 2) auto;
  background:var(--fondo);
  padding:calc(var(--padding) * 2);
  text-align:justify;
  & h2 {
    font:var(--fs-h3) var(--f-deco);
    line-height:1em;
    margin:0 0 .25em;
    color:var(--title);
    text-transform:var(--tt-deco);
    &:not(:first-child) {
      margin-top:.75em;
    }
  }
  & h3 {
    font:700 var(--fs-h4) var(--f-titles);
    line-height:1em;
    margin:0 0 .25em;
    color:var(--title);
    text-transform:var(--tt-titles-big);
    &:not(:first-child) {
      margin-top:.75em;
    }
  }
  & h4 {
    font:700 var(--fs-h5) var(--f-titles);
    line-height:1em;
    margin:0 0 .25em;
    color:var(--title);
    text-transform:var(--tt-titles-small);
    &:not(:first-child) {
      margin-top:.75em;
    }
  }
  & h5 {
    font:700 var(--fs-h6) var(--f-titles);
    line-height:1em;
    margin:0 0 .25em;
    color:var(--accent1);
    text-transform:var(--tt-titles-small);
    &:not(:first-child) {
      margin-top:.75em;
    }
  }
  & h6 {
    font:400 var(--fs-h7) var(--f-titles);
    line-height:1em;
    margin:0 0 .25em;
    color:var(--title);
    text-transform:var(--tt-titles-big);
    border-bottom:1px solid var(--accent2);
    width:fit-content;
    padding-bottom:.1em;
    &:not(:first-child) {
      margin-top:.75em;
    }
  }
  & li {
    list-style-type:square;
    & > b {
      color:var(--subtitle);
      text-transform:uppercase;
      font-weight:900;
      font-size:.95rem;
    }
  }
  & *::marker {
    color:var(--accent2);
  }
  & :where(strong, b, a) {
    color:var(--accent1);
  }
  & :where(em, i, u) {
    text-decoration-color:var(--accent1);
    color:var(--subtitle);
  }
  & strike {
    text-decoration-color:var(--accent2);
    color:var(--text2);
  }
}

/* SIDE + MANUAL */

aside {
  position:fixed;
  inset:0;
  top:var(--nav-h);
  z-index:998;
  background:var(--side);
  width:var(--side-w);
  box-sizing:border-box;
  border:var(--padding) solid transparent;
  border-right-width:calc(var(--padding) / 2);
  padding-right:calc(var(--padding) / 2);
  display:grid;
  grid-template-columns:100%;
  place-content:flex-start;
  overflow:auto;
  & > h {
    font:900 var(--fset-titles4);
    color:var(--subtitle);
    text-transform:var(--tt-titles-small);
    border-bottom:1px solid var(--accent2);
    line-height:1em;
    width:fit-content;
    padding-right:1em;
    padding-bottom:.1em;
  }
  & ul {
    list-style-type:square;
    & li {
      color:var(--links1);
      font:var(--fset-mono3);
      line-height:1em;
      text-transform:var(--tt-mono);
      & ul {
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: .5em;
      }
      &:not(:last-of-type) {
        margin-bottom:.75em;
      }
      &::marker {
        color:var(--accent2);
        transition:ease .3s;
      }
      &:hover::marker, &:has(:hover, .active)::marker {
        color:var(--accent1);
      }
      & b[data-href] {
        color:var(--links1);
        transition:ease .3s;
        cursor:pointer;
        &:hover, &.active {
          color:var(--links2);
        }
      }
    }
  }
}

body:has(aside) {
  padding-left:var(--side-w)!important;
}

body.manual {
  --header-img:url(/aetherra/images/manual.jpg);
  --header-position: center 30%;
  & header {
    height:clamp(15rem, 50dvh, 30rem);
    & h1 {
      font-size:7rem;
    }
  }
  &[section="religion"] {
    --header-img:url(/aetherra/images/religion.jpg);
    --header-position:center 60%;
    }
  &[section="history"] {
    --header-img:url(/aetherra/images/history.jpg);
    --header-position:center 30%;
    --header-filter:brightness(1.3) saturate(80%);
  }
  &[section="species"] {
    --header-img:url(/aetherra/images/species.jpg);
    --header-position:center 60%;
  }
}

*:not(b)[data-tab] {
  position:fixed;
  inset:0;
  margin:auto;
  z-index:999;
  background:var(--fondo);
  width:clamp(15rem, 80dvw, 70rem);
  height:clamp(10rem, 60dvh, 40rem);
  overflow:hidden;
  box-sizing:border-box;
  box-shadow:0 0 0 100dvmax color-mix(in srgb, var(--body) 95%, transparent);
}

species {
  padding:calc(var(--padding) * 2);
  gap:var(--padding);
  display:grid;
  grid-template-columns:100%;
  grid-template-rows:max-content 1fr;
  & h {
    font:700 var(--fs-h4) var(--f-titles);
    line-height:1em;
    color:var(--subtitle);
    display:flex;
    justify-content:flex-start;
    align-items:center;
    text-transform:uppercase;
    & .close {
      margin-left:auto;
      font:var(--fset-mono2);
      color:var(--accent1);
      cursor:pointer;
      &:hover {
        color:var(--accent1);
      }
    }
  }
  & > div {
    align-items:stretch;
    overflow:hidden;
    gap:var(--padding);
    & > img {
      width:clamp(5rem, 30%, 20rem);
      height:100%;
      object-fit:contain;
      object-position:center;
      flex-shrink:0;
    }
    & .tabs-body {
      flex:1;
      align-items:stretch;
      align-self:stretch;
      & .tabs {
        & > b {
          cursor:pointer;
          background:color-mix(in srgb, var(--fondo) 98%, white);
          flex:1;
          font:var(--fset-mono3);
          line-height:1em;
          text-transform:uppercase;
          text-align:center;
          padding:1.25em;
          align-self:stretch;
          place-content:center;
          &.active, &:hover {
            background:color-mix(in srgb, var(--fondo) 96%, white);
          }
        }
      }
      & .tabbed {
        flex:1;
        overflow:hidden;
        position:relative;
        background:color-mix(in srgb, var(--fondo) 99%, white);
        & > div {
          background:color-mix(in srgb, var(--fondo) 99%, white);
          position:absolute;
          inset:0;
          border:var(--padding) solid transparent;
          border-right-width:calc(var(--padding) / 2);
          padding-right:calc(var(--padding) / 2);
          overflow:auto;
          text-align:justify;
        }
      }
    }
  }
}

ul.species-list {
  display:flex;
  place-content:flex-start;
  justify-content:center;
  align-items:stretch;
  flex-wrap:wrap;
  gap:var(--gap);
  padding:0;
  margin:var(--gap) auto calc(var(--padding) * 2);
  h3:has(+&), h3:has(+small+&) {
    text-align:center;
    font-size:var(--fs-h3);
    font-weight:400;
    text-transform:var(--tt-mono);
  }
  small:has(+&) {
    text-align:center;
    display:block;
  }
  & li {
    cursor:pointer;
    width:20%;
    min-width:10rem;
    max-width:20rem;
    flex-grow:1;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:9.2rem 8rem 1fr max-content;
    grid-template-areas:
      'image'
      'title'
      'space'
      'data';
    background:color-mix(in srgb, var(--fondo) 99%, white);
    height:20rem;
    &:has(>i) {
      grid-template-rows:9.2rem 1fr max-content max-content 1fr max-content;
      grid-template-areas:
        'image'
        'space'
        'title'
        'desc'
        'space2'
        'data';
      height:23rem;
    }
    & > img {
      grid-area:image;
      height:100%;
      width:100%;
      object-fit:cover;
      object-position:center;
    }
    & > b {
      grid-area:title;
      font:700 var(--fs-h6) var(--f-titles);
      text-align:center;
      place-content:center;
      text-wrap:balance;
      color:var(--subtitle);
    }
    & > span {
      grid-area:data;
      padding:var(--gap);
      gap:var(--gap);
      padding-top:0;
      display:flex;
      align-items:stretch;
      justify-content:center;
      & > b {
        background:color-mix(in srgb, var(--fondo) 98%, white);
        flex-grow:1;
        padding:1em;
        font:var(--fset-mono6);
        line-height:1em;
        text-transform:var(--tt-mono);
        text-align:center;
      }
    }
    & > i {
      grid-area:desc;
      color:var(--text);
      font:var(--fset-body3);
      text-align:center;
      place-content:center;
      cursor:pointer;
      text-wrap:balance;
    }
  }
}
