page {
  display:block;
}

@media screen {
  .nopc {
    display: none;
  }
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  .noprint {
     display:none;
  }
  html, body, page {
    width: 210mm;
    height: 297mm;
  }
}
