:root {
color-scheme:dark;
}

html, body {
  margin:0;
}

page {
  display:block;
  page-break-after: always;
  break-after: page;
  box-sizing:border-box;
}

@media screen {
  .nopc {
    display: none;
  }
}

@page {
  size: landscape;
  margin:0;
}
@media print {
  :root {
  color-scheme:light;
  }
  page {
    padding: 2cm;
  }
  .noprint {
     display:none;
  }
  html, body, page {
    width: 297mm;
    height: 210mm;
  }
}
