page {
  display:block;
  page-break-after: always;
  break-after: page;
}

@media screen {
  .nopc {
    display: none;
  }
}

@page {
  size: a4 landscape;
  margin: 0;
}
@media print {
  .noprint {
     display:none;
  }
  html, body, page {
    width: 297mm;
    height: 210mm;
  }
}
