@font-face {
    font-family: 'Vixa';
    src: url('/aetherra/fonts/Vixa-Regular.woff2') format('woff2'),
        url('/aetherra/fonts/Vixa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
